<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SpotCollegeEntities" connectionString="metadata=res://*/SpotCollegeEntity.csdl|res://*/SpotCollegeEntity.ssdl|res://*/SpotCollegeEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=SpotCollege;user id=sa;password=hevin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>