USE [master]
GO
/****** Object:  Database [SpotCollege]    Script Date: 12/06/2013 12:10:45 ******/
CREATE DATABASE [SpotCollege] ON  PRIMARY 
( NAME = N'SpotCollege', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\SpotCollege.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SpotCollege_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQL2008\MSSQL\DATA\SpotCollege_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpotCollege].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpotCollege]
GO
/****** Object:  Table [dbo].[SurveyDetail]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurveyDetail](
	[SurveyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[University] [nvarchar](100) NULL,
	[GraduationYear] [int] NULL,
	[Course] [nvarchar](100) NULL,
	[Degree] [nvarchar](100) NULL,
	[ApplyOwnOrAgent] [nvarchar](100) NULL,
	[LocalAgentCharge] [nvarchar](100) NULL,
	[AgentName] [nvarchar](50) NULL,
	[FirstLive] [nvarchar](100) NULL,
	[LookingForHousing] [nvarchar](50) NULL,
	[RoomShared] [nvarchar](50) NULL,
	[MonthlyRent] [nvarchar](50) NULL,
	[WhereLive] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[RateYourBuilding] [nvarchar](200) NULL,
	[LandlordFeedback] [nvarchar](200) NULL,
	[ReturnDeposite] [nvarchar](100) NULL,
	[HousingSuggestion] [nvarchar](max) NULL,
	[LookForJob] [nvarchar](50) NULL,
	[FindJob] [nvarchar](50) NULL,
	[GetOne] [nvarchar](50) NULL,
	[Department] [nvarchar](100) NULL,
	[HourlyPay] [nvarchar](50) NULL,
	[JobSuggestion] [nvarchar](max) NULL,
	[SafeOnCampus] [nvarchar](50) NULL,
	[SafeonOutside] [nvarchar](50) NULL,
	[HappenCampus] [nvarchar](50) NULL,
	[CampusPolice] [nvarchar](100) NULL,
	[StolenThings] [nvarchar](100) NULL,
	[StolenThingDescription] [nvarchar](max) NULL,
	[RetriveItBack] [nvarchar](100) NULL,
	[Scholarship] [nvarchar](50) NULL,
	[OneAfterwards] [nvarchar](50) NULL,
	[AfterJoining] [nvarchar](100) NULL,
	[ScholarshipSuggestion] [nvarchar](max) NULL,
	[SufficientEating] [nvarchar](50) NULL,
	[SufficientMarkets] [nvarchar](50) NULL,
	[TestScore] [nvarchar](200) NULL,
	[ApplyOtherUniversity] [nvarchar](max) NULL,
	[GetAllUniversity] [nvarchar](max) NULL,
	[JobsorInternships] [nvarchar](max) NULL,
	[SuggestionstoUniversity] [nvarchar](max) NULL,
	[SuggestionstoStudent] [nvarchar](max) NULL,
	[EmailId] [nvarchar](100) NULL,
	[ForwardQuestions] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[HealthInsuranceUni] [nvarchar](50) NULL,
	[PruchaseHealthInsu] [nvarchar](100) NULL,
 CONSTRAINT [PK_SurveyDetail] PRIMARY KEY CLUSTERED 
(
	[SurveyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SurveyDetail] ON
SET IDENTITY_INSERT [dbo].[SurveyDetail] OFF
/****** Object:  Table [dbo].[LoginType]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginType](
	[LoginTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_LoginType] PRIMARY KEY CLUSTERED 
(
	[LoginTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoginType] ON
INSERT [dbo].[LoginType] ([LoginTypeId], [Type], [IsActive]) VALUES (1, N'Student', 1)
INSERT [dbo].[LoginType] ([LoginTypeId], [Type], [IsActive]) VALUES (2, N'University', 1)
INSERT [dbo].[LoginType] ([LoginTypeId], [Type], [IsActive]) VALUES (3, N'Admin', 1)
SET IDENTITY_INSERT [dbo].[LoginType] OFF
/****** Object:  Table [dbo].[FeedBackAnswer]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBackAnswer](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NULL,
	[QuestionId] [int] NULL,
	[Answer] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_FeedBackAnswer] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FeedBackAnswer] ON
INSERT [dbo].[FeedBackAnswer] ([AnswerId], [SectionId], [QuestionId], [Answer], [IsApproved]) VALUES (1653, 1, 1, N'sadas', 0)
INSERT [dbo].[FeedBackAnswer] ([AnswerId], [SectionId], [QuestionId], [Answer], [IsApproved]) VALUES (1654, 1, 6, N'sad', 0)
INSERT [dbo].[FeedBackAnswer] ([AnswerId], [SectionId], [QuestionId], [Answer], [IsApproved]) VALUES (1655, 1, 2, N'1', 0)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[FeedBackAnswer] OFF
/****** Object:  Table [dbo].[BatchSetting]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchSetting](
	[BatchId] [int] IDENTITY(1,1) NOT NULL,
	[DailyStudent] [bit] NOT NULL,
	[WeekelyStudent] [bit] NOT NULL,
	[DailyUniversity] [bit] NOT NULL,
	[WeekelyUniversity] [bit] NOT NULL,
 CONSTRAINT [PK_BatchSetting] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BatchSetting] ON
INSERT [dbo].[BatchSetting] ([BatchId], [DailyStudent], [WeekelyStudent], [DailyUniversity], [WeekelyUniversity]) VALUES (1, 0, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[BatchSetting] OFF
/****** Object:  Table [dbo].[ResourceCategory]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SortingIndex] [int] NOT NULL,
 CONSTRAINT [PK_ResourceCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ResourceCategory] ON
INSERT [dbo].[ResourceCategory] ([CategoryId], [Name], [SortingIndex]) VALUES (17, N'cat1', 1)
INSERT [dbo].[ResourceCategory] ([CategoryId], [Name], [SortingIndex]) VALUES (18, N'Category2', 4)
INSERT [dbo].[ResourceCategory] ([CategoryId], [Name], [SortingIndex]) VALUES (19, N'Category3', 3)
SET IDENTITY_INSERT [dbo].[ResourceCategory] OFF
/****** Object:  Table [dbo].[Resource]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[ResourceId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](100) NULL,
 CONSTRAINT [PK_Resource] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Resource] ON
INSERT [dbo].[Resource] ([ResourceId], [CategoryId], [Title], [Description], [CreatedDate], [CreatedBy], [ImagePath]) VALUES (40, 18, N'sad', N'<br>asda', CAST(0x0000A22F00B991C7 AS DateTime), NULL, NULL)
INSERT [dbo].[Resource] ([ResourceId], [CategoryId], [Title], [Description], [CreatedDate], [CreatedBy], [ImagePath]) VALUES (41, 21, N'safs', N'<br>dfds', CAST(0x0000A22F00B9D0D0 AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Resource] OFF
/****** Object:  Table [dbo].[User]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[LoginTypeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User] ([UserName], [Password], [LoginTypeId], [IsActive]) VALUES (N'a@gmail.com', N'Z2wryez9cX4=', 2, 1)
INSERT [dbo].[User] ([UserName], [Password], [LoginTypeId], [IsActive]) VALUES (N'a1@gmail.com', N'Z2wryez9cX4=', 2, 1)
INSERT [dbo].[User] ([UserName], [Password], [LoginTypeId], [IsActive]) VALUES (N'a10@gmail.com', N'Z2wryez9cX4=', 2, 1)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[ViewProfile]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViewProfile](
	[ViewId] [int] IDENTITY(1,1) NOT NULL,
	[UniversityUsername] [nvarchar](50) NOT NULL,
	[StudentUsername] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ViewProfile] PRIMARY KEY CLUSTERED 
(
	[ViewId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ViewProfile] ON
INSERT [dbo].[ViewProfile] ([ViewId], [UniversityUsername], [StudentUsername]) VALUES (2, N'rtmnu@gmail.com', N'prakash@gmail.com')
INSERT [dbo].[ViewProfile] ([ViewId], [UniversityUsername], [StudentUsername]) VALUES (3, N'rtmnu@gmail.com', N'aps@gmail.com')
INSERT [dbo].[ViewProfile] ([ViewId], [UniversityUsername], [StudentUsername]) VALUES (4, N'rtmnu@gmail.com', N'shreya.vakil@gmail.com')
SET IDENTITY_INSERT [dbo].[ViewProfile] OFF
/****** Object:  Table [dbo].[Settings]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Students] [bit] NOT NULL,
	[University] [bit] NOT NULL,
	[DailyEmail] [bit] NOT NULL,
	[StudentsEmail] [bit] NOT NULL,
	[UniversityEmail] [bit] NOT NULL,
	[PromotionalEmail] [bit] NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Settings] ON
INSERT [dbo].[Settings] ([SettingId], [UserName], [Students], [University], [DailyEmail], [StudentsEmail], [UniversityEmail], [PromotionalEmail]) VALUES (5, N'prakash@gmail.com', 1, 1, 0, 0, 0, 1)
INSERT [dbo].[Settings] ([SettingId], [UserName], [Students], [University], [DailyEmail], [StudentsEmail], [UniversityEmail], [PromotionalEmail]) VALUES (6, N'ashish@gmail.com', 1, 1, 0, 0, 0, 0)
INSERT [dbo].[Settings] ([SettingId], [UserName], [Students], [University], [DailyEmail], [StudentsEmail], [UniversityEmail], [PromotionalEmail]) VALUES (7, N'jayesh@gmail.com', 1, 1, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Settings] OFF
/****** Object:  Table [dbo].[University]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[University](
	[UniversityId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UniversityName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[AdminName] [nvarchar](50) NULL,
	[Degree] [nvarchar](50) NULL,
	[Courses] [nvarchar](max) NULL,
	[City] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](50) NULL,
	[EstablishedYear] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[UnderGraduateFee] [nvarchar](50) NULL,
	[GraduateFee] [nvarchar](50) NULL,
	[BookFee] [nvarchar](50) NULL,
	[BoardFee] [nvarchar](50) NULL,
	[Graduates] [int] NULL,
	[UnderGraduates] [int] NULL,
	[InternationalGraduate] [int] NULL,
	[PersuingAssociateDegree] [int] NULL,
	[ContactNo] [nvarchar](50) NULL,
	[CountryCode] [nvarchar](10) NULL,
	[UniversityImage] [nvarchar](50) NULL,
	[Faqs] [nvarchar](max) NULL,
	[EnroledPerYearChina] [int] NULL,
	[EnroledPerYearIndianSub] [int] NULL,
	[EnroledPerYearAfrica] [int] NULL,
	[EnroledPerYearMidEast] [int] NULL,
	[EnroledPerYearSouthAmerica] [int] NULL,
	[EnroledPerYearEurope] [int] NULL,
	[ApplicationFee] [nvarchar](50) NULL,
 CONSTRAINT [PK_University] PRIMARY KEY CLUSTERED 
(
	[UniversityId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[University] ON
SET IDENTITY_INSERT [dbo].[University] OFF
/****** Object:  Table [dbo].[Permission]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[StudentMessage] [bit] NOT NULL,
	[CollegeProfile] [bit] NOT NULL,
	[CollegeMessage] [bit] NOT NULL,
	[Article] [bit] NOT NULL,
	[Review] [bit] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Permission] ON
INSERT [dbo].[Permission] ([PermissionId], [UserName], [FirstName], [LastName], [Phone], [StudentMessage], [CollegeProfile], [CollegeMessage], [Article], [Review], [CreatedDate]) VALUES (8, N'aaa1@gmail.com', N'Ashish', N'Savaliya', N'1234545', 0, 1, 1, 1, 1, CAST(0x0000A21C014734C7 AS DateTime))
INSERT [dbo].[Permission] ([PermissionId], [UserName], [FirstName], [LastName], [Phone], [StudentMessage], [CollegeProfile], [CollegeMessage], [Article], [Review], [CreatedDate]) VALUES (9, N'jp@gmail.com', N'Jayesh', N'Dhakecha', N'1234545', 0, 0, 0, 1, 0, CAST(0x0000A21F011E8931 AS DateTime))
INSERT [dbo].[Permission] ([PermissionId], [UserName], [FirstName], [LastName], [Phone], [StudentMessage], [CollegeProfile], [CollegeMessage], [Article], [Review], [CreatedDate]) VALUES (10, N'apatel@gmail.com', N'Ashish', N'Patel', N'1235464', 1, 0, 1, 0, 0, CAST(0x0000A22301015AC2 AS DateTime))
SET IDENTITY_INSERT [dbo].[Permission] OFF
/****** Object:  Table [dbo].[Message]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ParentId] [int] NOT NULL,
	[FromUserName] [nvarchar](50) NOT NULL,
	[ToUserName] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedDate] [date] NOT NULL,
	[IsApproved] [bit] NULL,
	[Flag] [bit] NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Message] ON
INSERT [dbo].[Message] ([MessageId], [Title], [Description], [ParentId], [FromUserName], [ToUserName], [IsRead], [CreatedDate], [IsApproved], [Flag]) VALUES (910, N'test', N'test', 0, N'prakash@gmail.com', N'mdhakecha@gmail.com', 0, CAST(0x74370B00 AS Date), 0, 1)
INSERT [dbo].[Message] ([MessageId], [Title], [Description], [ParentId], [FromUserName], [ToUserName], [IsRead], [CreatedDate], [IsApproved], [Flag]) VALUES (911, N'sss', N'ssss', 0, N'ashish@gmail.com', N'student145@gmaill.com', 1, CAST(0x76370B00 AS Date), 1, 1)
INSERT [dbo].[Message] ([MessageId], [Title], [Description], [ParentId], [FromUserName], [ToUserName], [IsRead], [CreatedDate], [IsApproved], [Flag]) VALUES (912, N'ssss', N'sssss', 0, N'ashish@gmail.com', N'tet@gmail.com', 1, CAST(0x76370B00 AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Message] OFF
/****** Object:  Table [dbo].[Alert]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert](
	[AlertId] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Alert] PRIMARY KEY CLUSTERED 
(
	[AlertId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alert] ON
INSERT [dbo].[Alert] ([AlertId], [Message], [CreatedDate], [CreatedBy], [UserName]) VALUES (416, N'Rejected Message received from Admin', CAST(0x0000A21B0137777C AS DateTime), N'ashish@hevintechnoweb.com', N'ashish@gmail.com')
INSERT [dbo].[Alert] ([AlertId], [Message], [CreatedDate], [CreatedBy], [UserName]) VALUES (417, N'Rejected Message received from Admin', CAST(0x0000A21B0137F5DF AS DateTime), N'ashish@hevintechnoweb.com', N'ashish@gmail.com')
INSERT [dbo].[Alert] ([AlertId], [Message], [CreatedDate], [CreatedBy], [UserName]) VALUES (418, N'Rejected Message received from Admin', CAST(0x0000A21B013815E3 AS DateTime), N'ashish@hevintechnoweb.com', N'ashish@gmail.com')
SET IDENTITY_INSERT [dbo].[Alert] OFF
/****** Object:  Table [dbo].[Student]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NULL,
	[Address1] [nvarchar](max) NOT NULL,
	[Address2] [nvarchar](max) NULL,
	[City] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[PrimaryNumber] [nvarchar](50) NOT NULL,
	[PrimaryType] [nvarchar](50) NOT NULL,
	[SecondaryNumber] [nvarchar](50) NULL,
	[SecondaryType] [nvarchar](50) NULL,
	[PrimaryEmail] [nvarchar](50) NOT NULL,
	[BirthDate] [datetime] NULL,
	[Citizenship] [nvarchar](50) NOT NULL,
	[StudyingIn] [int] NOT NULL,
	[LookingFor] [int] NOT NULL,
	[LookingForCountry] [nvarchar](50) NOT NULL,
	[StartDate] [int] NOT NULL,
	[Payout] [int] NOT NULL,
	[SportActivities] [nvarchar](max) NULL,
	[LeadershipActivies] [nvarchar](max) NULL,
	[OtherActivities] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[DesiredFieldofStudy] [nvarchar](max) NULL,
	[OtherStudy] [nvarchar](50) NULL,
	[CreatedDate] [date] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Student] ON
SET IDENTITY_INSERT [dbo].[Student] OFF
/****** Object:  Table [dbo].[StudentInterest]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInterest](
	[StudentInterestId] [int] IDENTITY(1,1) NOT NULL,
	[UniversityUserName] [nvarchar](50) NOT NULL,
	[StudentUserName] [nvarchar](50) NOT NULL,
	[Approved] [int] NOT NULL,
 CONSTRAINT [PK_StudentInterest] PRIMARY KEY CLUSTERED 
(
	[StudentInterestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentInterest] ON
INSERT [dbo].[StudentInterest] ([StudentInterestId], [UniversityUserName], [StudentUserName], [Approved]) VALUES (36, N'gtu@gmail.com', N'ashish@gmail.com', 3)
INSERT [dbo].[StudentInterest] ([StudentInterestId], [UniversityUserName], [StudentUserName], [Approved]) VALUES (37, N'rtmnu@gmail.com', N'ashish@gmail.com', 2)
INSERT [dbo].[StudentInterest] ([StudentInterestId], [UniversityUserName], [StudentUserName], [Approved]) VALUES (40, N'rtmnu@gmail.com', N'jigar@gmail.com', 2)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[StudentInterest] OFF
/****** Object:  Table [dbo].[StudentWorkHistory]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentWorkHistory](
	[StudentWorkHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Responsibilities] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StudentWorkHistory] PRIMARY KEY CLUSTERED 
(
	[StudentWorkHistoryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentWorkHistory] ON
INSERT [dbo].[StudentWorkHistory] ([StudentWorkHistoryId], [StudentId], [CompanyName], [Position], [StartDate], [EndDate], [Responsibilities]) VALUES (40, 63, N'company1', N'some positoin', CAST(0x000048C300000000 AS DateTime), CAST(0x00004D2B00000000 AS DateTime), N'some resopnsibility')
INSERT [dbo].[StudentWorkHistory] ([StudentWorkHistoryId], [StudentId], [CompanyName], [Position], [StartDate], [EndDate], [Responsibilities]) VALUES (41, 65, N'Hevin Tech.', N'-', CAST(0x0000475600000000 AS DateTime), CAST(0x00007D8D00000000 AS DateTime), N'responsibility')
INSERT [dbo].[StudentWorkHistory] ([StudentWorkHistoryId], [StudentId], [CompanyName], [Position], [StartDate], [EndDate], [Responsibilities]) VALUES (42, 59, N'Hevin Tech.', N'developer', CAST(0x00009FEB00000000 AS DateTime), CAST(0x0000A2A600000000 AS DateTime), N'none')
SET IDENTITY_INSERT [dbo].[StudentWorkHistory] OFF
/****** Object:  Table [dbo].[StudentTest]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTest](
	[StudentTestId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[SectorId] [int] NULL,
	[SchoolName] [nvarchar](50) NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
	[Composite] [nvarchar](50) NULL,
	[English] [nvarchar](50) NULL,
	[Math] [nvarchar](50) NULL,
	[Reading] [nvarchar](50) NULL,
	[Science] [nvarchar](50) NULL,
	[Writing] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Score] [nvarchar](50) NULL,
	[VerbalReasoning] [nvarchar](50) NULL,
	[QuantitativeReasoning] [nvarchar](50) NULL,
	[AnalyticalWriting] [nvarchar](50) NULL,
	[Verbal] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[Listening] [nvarchar](50) NULL,
	[Speaking] [nvarchar](50) NULL,
	[Biology] [nvarchar](50) NULL,
	[Physics] [nvarchar](50) NULL,
 CONSTRAINT [PK_StudentTest] PRIMARY KEY CLUSTERED 
(
	[StudentTestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentTest] ON
INSERT [dbo].[StudentTest] ([StudentTestId], [StudentId], [TestId], [SectorId], [SchoolName], [StartYear], [EndYear], [Composite], [English], [Math], [Reading], [Science], [Writing], [Date], [Subject], [Score], [VerbalReasoning], [QuantitativeReasoning], [AnalyticalWriting], [Verbal], [Total], [Listening], [Speaking], [Biology], [Physics]) VALUES (57, 62, 3, NULL, NULL, NULL, NULL, N'1', NULL, N'1', N'1', NULL, N'11', N'06/25/2013', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StudentTest] ([StudentTestId], [StudentId], [TestId], [SectorId], [SchoolName], [StartYear], [EndYear], [Composite], [English], [Math], [Reading], [Science], [Writing], [Date], [Subject], [Score], [VerbalReasoning], [QuantitativeReasoning], [AnalyticalWriting], [Verbal], [Total], [Listening], [Speaking], [Biology], [Physics]) VALUES (59, 61, 2, NULL, NULL, NULL, NULL, N'1', N'11', N'11', N'1', N'11', N'11', N'06/26/2013', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StudentTest] ([StudentTestId], [StudentId], [TestId], [SectorId], [SchoolName], [StartYear], [EndYear], [Composite], [English], [Math], [Reading], [Science], [Writing], [Date], [Subject], [Score], [VerbalReasoning], [QuantitativeReasoning], [AnalyticalWriting], [Verbal], [Total], [Listening], [Speaking], [Biology], [Physics]) VALUES (60, 63, 14, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'100', NULL, N'100', N'06/10/2013', NULL, NULL, NULL, NULL, NULL, NULL, N'100', N'100', N'100', NULL, NULL)
SET IDENTITY_INSERT [dbo].[StudentTest] OFF
/****** Object:  Table [dbo].[StudentAcademics]    Script Date: 12/06/2013 12:10:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAcademics](
	[StudentAcademicsId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SchoolName] [nvarchar](50) NOT NULL,
	[SchoolCity] [nvarchar](50) NOT NULL,
	[SchoolCountry] [nvarchar](50) NOT NULL,
	[Graduate] [int] NOT NULL,
	[GraduationYear] [int] NULL,
	[GraduationLevel] [int] NULL,
	[Rank] [decimal](18, 2) NULL,
	[CertificatePath] [nvarchar](50) NOT NULL,
	[DegreebeingPursued] [int] NULL,
	[ExpectedYearofGraduation] [int] NULL,
	[FieldofStudy] [nvarchar](50) NULL,
 CONSTRAINT [PK_StudentAcademics] PRIMARY KEY CLUSTERED 
(
	[StudentAcademicsId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentAcademics] ON
INSERT [dbo].[StudentAcademics] ([StudentAcademicsId], [StudentId], [SchoolName], [SchoolCity], [SchoolCountry], [Graduate], [GraduationYear], [GraduationLevel], [Rank], [CertificatePath], [DegreebeingPursued], [ExpectedYearofGraduation], [FieldofStudy]) VALUES (77, 60, N'SSGV', N'SURAT', N'India', 2, NULL, NULL, CAST(9.00 AS Decimal(18, 2)), N'', NULL, NULL, NULL)
INSERT [dbo].[StudentAcademics] ([StudentAcademicsId], [StudentId], [SchoolName], [SchoolCity], [SchoolCountry], [Graduate], [GraduationYear], [GraduationLevel], [Rank], [CertificatePath], [DegreebeingPursued], [ExpectedYearofGraduation], [FieldofStudy]) VALUES (78, 61, N'GTU', N'GTU', N'India', 2, NULL, NULL, CAST(3.00 AS Decimal(18, 2)), N'a8ec28b0-674a-4292-ba62-3fbfcd820417.jpg', NULL, NULL, NULL)
INSERT [dbo].[StudentAcademics] ([StudentAcademicsId], [StudentId], [SchoolName], [SchoolCity], [SchoolCountry], [Graduate], [GraduationYear], [GraduationLevel], [Rank], [CertificatePath], [DegreebeingPursued], [ExpectedYearofGraduation], [FieldofStudy]) VALUES (79, 62, N'SOS', N'Rajkot', N'India', 1, 2001, 2, CAST(1.00 AS Decimal(18, 2)), N'', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[StudentAcademics] OFF
/****** Object:  StoredProcedure [dbo].[sp_StudentUnApprovedMsg]    Script Date: 12/06/2013 12:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StudentUnApprovedMsg]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	select COUNT(Message.MessageId) as cnt,
		Student.FirstName,
		Student.LastName,
		Student.Photo,
		Student.UserName as uname 
		
	from Student join Message on Student.UserName=Message.FromUserName 
	
	where Message.IsApproved=0  
	
	Group By Student.FirstName,Student.LastName,Student.Photo,Student.UserName 
	
	order by cnt desc

	RETURN
GO
/****** Object:  StoredProcedure [dbo].[sp_NoOFunApprovedMsg]    Script Date: 12/06/2013 12:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NoOFunApprovedMsg]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	select COUNT(Message.MessageId) as cnt,
		   University.UniversityName,
		   University.Image,
		   University.UserName as uname
		  
	
	from University join Message on University.UserName=Message.FromUserName 
	
	where Message.IsApproved=0  
	
	Group By University.UniversityName,University.Image,University.UserName
	
	order by cnt desc

	RETURN
GO
/****** Object:  Default [DF_Message_CreatedDate]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  Default [DF_Message_IsApproved]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Message] ADD  CONSTRAINT [DF_Message_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
/****** Object:  Default [DT_Default]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [DT_Default]  DEFAULT (getdate()) FOR [CreatedDate]
GO
/****** Object:  ForeignKey [FK_Resource_ResourceCategory]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_Resource_ResourceCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ResourceCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_Resource_ResourceCategory]
GO
/****** Object:  ForeignKey [FK_User_LoginType]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_LoginType] FOREIGN KEY([LoginTypeId])
REFERENCES [dbo].[LoginType] ([LoginTypeId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_LoginType]
GO
/****** Object:  ForeignKey [FK_ViewProfile_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[ViewProfile]  WITH CHECK ADD  CONSTRAINT [FK_ViewProfile_User] FOREIGN KEY([StudentUsername])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[ViewProfile] CHECK CONSTRAINT [FK_ViewProfile_User]
GO
/****** Object:  ForeignKey [FK_ViewProfile_User1]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[ViewProfile]  WITH CHECK ADD  CONSTRAINT [FK_ViewProfile_User1] FOREIGN KEY([UniversityUsername])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[ViewProfile] CHECK CONSTRAINT [FK_ViewProfile_User1]
GO
/****** Object:  ForeignKey [FK_Settings_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD  CONSTRAINT [FK_Settings_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Settings] CHECK CONSTRAINT [FK_Settings_User]
GO
/****** Object:  ForeignKey [FK_University_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[University]  WITH CHECK ADD  CONSTRAINT [FK_University_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[University] CHECK CONSTRAINT [FK_University_User]
GO
/****** Object:  ForeignKey [FK_Permission_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_User]
GO
/****** Object:  ForeignKey [FK_Message_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_User] FOREIGN KEY([FromUserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_User]
GO
/****** Object:  ForeignKey [FK_Alert_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Alert] CHECK CONSTRAINT [FK_Alert_User]
GO
/****** Object:  ForeignKey [FK_Alert_User1]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Alert]  WITH CHECK ADD  CONSTRAINT [FK_Alert_User1] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Alert] CHECK CONSTRAINT [FK_Alert_User1]
GO
/****** Object:  ForeignKey [FK_Student_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_User]
GO
/****** Object:  ForeignKey [FK_StudentInterest_User]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[StudentInterest]  WITH CHECK ADD  CONSTRAINT [FK_StudentInterest_User] FOREIGN KEY([StudentUserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[StudentInterest] CHECK CONSTRAINT [FK_StudentInterest_User]
GO
/****** Object:  ForeignKey [FK_StudentInterest_User1]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[StudentInterest]  WITH CHECK ADD  CONSTRAINT [FK_StudentInterest_User1] FOREIGN KEY([UniversityUserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[StudentInterest] CHECK CONSTRAINT [FK_StudentInterest_User1]
GO
/****** Object:  ForeignKey [FK_StudentWorkHistory_Student]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[StudentWorkHistory]  WITH CHECK ADD  CONSTRAINT [FK_StudentWorkHistory_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentWorkHistory] CHECK CONSTRAINT [FK_StudentWorkHistory_Student]
GO
/****** Object:  ForeignKey [FK_StudentTest_Student]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[StudentTest]  WITH CHECK ADD  CONSTRAINT [FK_StudentTest_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentTest] CHECK CONSTRAINT [FK_StudentTest_Student]
GO
/****** Object:  ForeignKey [FK_StudentAcademics_Student]    Script Date: 12/06/2013 12:10:46 ******/
ALTER TABLE [dbo].[StudentAcademics]  WITH CHECK ADD  CONSTRAINT [FK_StudentAcademics_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentAcademics] CHECK CONSTRAINT [FK_StudentAcademics_Student]
GO
