@using SpotCollege.Common
@using Newtonsoft.Json
@using SpotCollege.DAL.DataModels
@using SpotCollege.DAL
@using SpotCollege.BLL

<div id="divStudentProfile" class="pattern_box box_space" style="display:none" title="Student Information">
    <div class="width100per">
        <div class="fright">
            <input type="hidden" id="hndUsername" />
            @*<form method="post" action="/University/StudentProfile" class="pull-right">
                <input type="submit" value="Ignore" class="button fright" name="btnDecline" />
            </form>*@
            @*<a id="Backbtn" class="button fright">Back</a>*@
            <div id="lnkBtnApprove" style="float: right; margin-right: 5px; display: inline-block;">
                @*<a id="lnkMessage" onclick="javascript:OpenMsgPopup('@name','@usname')" class="button">Send Message</a>*@
            </div>
        
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div id="BasicOverview">
                <div class="shadowbox">
                    <div class="h2_heading">
                        <div class="accordion-header">
                            <h2>Basics Information</h2>
                        </div>
                    </div>

                    <div class="accordion-content">
                        <ul class="list_4">
                            <li>
                                <label>
                                    First Name :</label>
                                <span id="lblFirstName"></span>

                            </li>
                            <li>
                                <label>
                                    Middle Name :</label>
                                <span id="lblMiddleName"></span>
                            </li>
                            <li>
                                <label>
                                    Last Name :</label>
                                <span id="lblLastName"></span>
                            </li>
                            <li>
                                <label>
                                    Country of Citizenship :</label>
                                <span id="lblCountryOfCitizenship"></span>
                            </li>
                            <li>
                                <label>
                                    Address 1 :</label>
                                <span id="lblAddress1"></span>

                            </li>
                            <li>
                                <label>
                                    Address 2 :</label>
                                <span id="lblAddress2"></span>
                            </li>
                            <li>
                                <label>
                                    Zip Code :</label>
                                <span id="lblzipcode"></span>
                            </li>
                            <li>
                                <label>
                                    Primary Phone :</label>
                                <span id="lblPrimaryNumber"></span>
                            </li>
                            <li>
                                <label>
                                    Birth Date :</label>
                                <span id="lblBirthDate"></span>
                            </li>
                            <li>
                                <label>
                                    City :</label>
                                <span id="lblCity"></span>

                            </li>
                            <li>
                                <label>
                                    Country :</label>
                                <span id="lblCountry"></span>

                            </li>
                            <li>
                                <label>
                                    Primary Email :</label>
                                <span id="lblPrimaryEmail"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <div id="EducationPreferences">
                <div class="shadowbox">
                    <div class="h2_heading">
                        <div class="accordion-header">
                            <h2>Education Preferences</h2>
                        </div>
                    </div>

                    <div class="accordion-content">
                        <ul class="list_4">
                            <li>
                                <label>
                                    I am currently in :</label>
                                <span id="lblCurrentlyIn"></span>
                            </li>
                            <li>
                                <label>
                                    program looking for :</label>
                                <span id="lblLookingFor"></span>
                            </li>
                            <li>
                                <label>
                                    I prefer to study in :</label>

                                <span id="lblPreferStudyIn"></span>
                            </li>
                            <li>
                                <label>
                                    Expected Start Date :</label>
                                <span id="lblExpectedStartDate"></span>
                            </li>
                            <li>
                                <label>
                                    I can afford to pay :</label>
                                <span id="lblPayout"></span>
                            </li>
                            <li>
                                <label>
                                    Desired Field of Study:</label>
                                <span id="lbldesiredfieldstudy"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <div class="shadowbox right_space">
                <div class="h2_heading">
                    <div class="accordion-header">
                        <h2>Photo :</h2>
                    </div>
                </div>
                <div class="accordion-content">
                    <ul class="list_4">

                        <li>
                            <label>
                                profile Image :</label>
                            <span>
                                <a id="hoverimg" class="preview" target="_blank">
                                <img id="imgStudentProfile" class="large_images" src="" /></a></span> </li>

                    </ul>
                </div>
            </div>
            <br />
        </div>

        <div class="span6">
            <div id="CurrentAcademics">
                <div class="shadowbox right_space">
                    <div class="h2_heading">
                        <div class="accordion-header">
                            <h2>Current Academics</h2>
                        </div>
                    </div>
                    <div class="accordion-content" id="tblCurrentAcademics">
                    </div>
                </div>
            </div>
            <br />
            <div id="internationalTest">
                <div class="shadowbox right_space">
                    <div class="h2_heading">
                        <div class="accordion-header">
                            <h2>International Test</h2>
                        </div>
                    </div>
                    <div class="accordion-content" id="tblInternationalTest">
                    </div>
                </div>
            </div>
            <br />

            <div id="WorkHistory">
                <div class="shadowbox right_space">
                    <div class="h2_heading">
                        <div class="accordion-header">
                            <h2>Work history</h2>
                        </div>
                    </div>
                    <div class="accordion-content" id="tblWorkHistory">
                    </div>
                </div>
            </div>
            <br />

            <div id="CurricularActivities">
                <div class="shadowbox right_space">
                    <div class="h2_heading">
                        <div class="accordion-header">
                            <h2>Extra Curricular Activies</h2>
                        </div>
                    </div>
                    <div class="accordion-content">
                        <ul class="list_4">
                            <li>
                                <label>Sports :</label>
                                <span id="lblSports"></span>
                            </li>
                            <li>
                                <label>Leadership :</label>
                                <span id="lblLeadership"></span>
                            </li>
                            <li>
                                <label>Activites :</label>
                                <span id="lblActivity"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
