<div id="myModal" title="University Information" class="popup_block" style="width: 100% !important; display: none;">
    <ul class="list_4">
        <li>
            <label>University Name :</label>
            <span id="lblusername"></span>
        </li>
        <li>
            <label>Contact No :</label>
            <span id="lblContact"></span>
        </li>
        <li>
            <label>Address :</label>
            <span id="lbladdress"></span>
        </li>
    </ul>
    <div class="yesno_block" id="studInterestBlock">
        <div class="shadowbox" style="margin-top: 0px" id="divIntersted">
            <div class="h2_heading">
                <h2>Are you interested in this College?</h2>
            </div>
            <input type="button" id="btnintrest" value="Yes" class="button" />
            <input type="button" id="btnnointrest" value="No" class="button" />
        </div>
    </div>
    <div class="simple_block">
        <a id="hoverimg" class="preview" target="_blank">
            <img id="imgprofile" height="100" width="100" /></a>
        <p>
            <span id="lblDescription"></span>
        </p>
    </div>
    <div class="accordion_wrapper">
        <h1>About This College</h1>
        <div class="shadowbox">
            <div class="accordion-header">
                <div class="h2_heading">
                    <h2>Cost for International students: </h2>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    1.Tuition for international students pursuing Bachelor's degree :
                        <span id="lblundergradutefee"></span>
                </p>
                <p>
                    2.Tuition for international students pursuing Master's degree :
                        <span id="lblgraduatefee"></span>
                </p>
                <p>
                    3.Books and supplies :
                        <span id="lblbookfee"></span>
                </p>
                <p>
                    4.Off-campus room and Board :
                        <span id="lblroom"></span>
                </p>
                <p>
                    5.Application Fee :
                        <span id="lblapplication"></span>
                </p>

            </div>
        </div>
        <div class="shadowbox">
            <div class="accordion-header">
                <div class="h2_heading">
                    <h2>Enrollment Number </h2>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    Avg Number of international students pursuing bachelor's degree each year :
                        <span id="lblgradustudent"></span>
                </p>
                <p>
                    Avg Number of international students pursuing Master's degree each year :
                        <span id="lblundergradute"></span>
                </p>
                <p>
                    Avg Number of international students pursuing Phd degree each year :
                        <span id="lblinternational"></span>
                </p>
                <p>
                    Avg Number of international students pursuing associates degree each year :
                        <span id="lblAssociateDegree"></span>
                </p>
                <p id="EnroledPerYearChina">
                    Avg. number of students enrolled, per year, from china :
                        <span id="lblEnroledPerYearChina"></span>
                </p>
                <p id="EnroledPerYearIndianSub">
                    Avg. number of students enrolled, per year, from Indian-sub continent 
(i.e India, Pakistan, Bangladesh,Nepal, Sri-Lanka) :
                        <span id="lblEnroledPerYearIndianSub"></span>
                </p>
                <p id="EnroledPerYearAfrica">
                    Avg. number of students enrolled, per year, from African continent :
                        <span id="lblEnroledPerYearAfrica"></span>
                </p>
                <p id="EnroledPerYearMidEast">
                    Avg. number of students enrolled, per year, from Middle East countries :
                        <span id="lblEnroledPerYearMidEast"></span>
                </p>
                <p id="EnroledPerYearSouthAmerica">
                    Avg. number of students enrolled, per year, from South America :
                        <span id="lblEnroledPerYearSouthAmerica"></span>
                </p>
                <p id="EnroledPerYearEurope">
                    Avg. number of students enrolled, per year, from European countries :
                        <span id="lblEnroledPerYearEurope"></span>
                </p>
            </div>
        </div>
        <div class="shadowbox">
            <div class="accordion-header">
                <div class="h2_heading">
                    <h2>Programs and majors</h2>
                </div>
            </div>
            <div class="accordion-content">
                <p>
                    1.Degree Level Offred :
                        <span id="lbldegreelvloffred"></span>
                </p>

                <p>
                    2.Courses Offred :
                        <span id="lblcourceoffered"></span>
                </p>
            </div>

            <div class="accordion-content">
            </div>
        </div>
    </div>
</div>
