

                       @*This Page Is Not Used*@

@{
    ViewBag.Title = "CollegeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span3">
        <div class="searh_box">
            <div class="pattern_box box_space">
                <div class="h2_heading">
                    <h2>University Search</h2>
                </div>
                <ul>
                    <li>
                        <asp:dropdownlist id="ddlCountryList" runat="server">
                            </asp:dropdownlist>
                    </li>
                    <li>
                        <asp:dropdownlist id="ddlLookingFor" runat="server">
                            </asp:dropdownlist>
                    </li>
                    <li>
                        <asp:dropdownlist id="ddlCourses" runat="server">
                            </asp:dropdownlist>
                    </li>
                    <li>
                        <asp:button id="btnSearch" runat="server" text="Search" cssclass="button" onclick="btnSearch_Click" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="span9">
        <div id="LoadingImage" style="display: none">
            <asp:image id="Image1" runat="server" imageurl="~/Images/ajaxloader.gif" />
        </div>
        <div class="alluniversitybox">
            <div class="pattern_box box_space">
                <div runat="server" style="color: black; font-size: larger" id="errorMsgDiv"></div>
                <ul>
                    <asp:datalist id="ddlunivercitylist" runat="server" repeatdirection="Vertical" repeatlayout="Flow" onitemdatabound="ddlunivercitylist_ItemDataBound">
                            <ItemTemplate>
                                <li>

                                    <div class="img_padding">
                                        <asp:HiddenField ID="HnduniversityUserName" runat="server" Value='<%#Eval("UserName") %>' />
                                        <asp:Image ID="Imgunvercity" runat="server" alt="" />
                                    </div>

                                    <div class="university_detail">
                                        <div class="name">
                                            <asp:Label runat="server" Text="" ID="UniversityName"><%#Eval("UniversityName")%></asp:Label>
                                        </div>
                                        <div class="establishment">In <%#Eval("City") %>, <%#Eval("Country") %>. &nbsp;&nbsp; Year of establishment <%#Eval("EstablishedYear") %> </div>
                                        <ul class="small_university_box">
                                            <li>
                                                <div class="h2_heading">
                                                    <h2>Cost for International students:</h2>
                                                </div>
                                            </li>
                                            <%-- <li>&raquo; Tution for Undergraduate students (USD) : <%#Eval("UnderGraduateFee")==null ? "Not Available" : Eval("UnderGraduateFee") %>	</li>
                                                    <li>&raquo; Tution for graduate studens (USD) : <%#Eval("GraduateFee")==null ? "Not Available" : Eval("GraduateFee") %></li>
                                                    <li>&raquo; Books and supplies (USD) : <%#Eval("BookFee")==null ? "Not Available" : Eval("BookFee") %></li>
                                                    <li>&raquo; Off-campus room and Board (USD) : <%#Eval("BoardFee")==null ? "Not Available" : Eval("BoardFee") %></li>--%>

                                            <li>&raquo; Tution for Undergraduate students :<asp:Label runat="server" ID="lblundergraduatestudFee" Text='<%#Eval("UnderGraduateFee") %>'></asp:Label>
                                            </li>
                                            <li>&raquo; Tution for graduate studens :<asp:Label runat="server" ID="lblgraduatestudFee" Text=' <%#Eval("GraduateFee") %>'></asp:Label></li>
                                            <li>&raquo; Books and supplies :<asp:Label runat="server" ID="lblbookstudFee" Text=' <%#Eval("BookFee") %>'></asp:Label></li>
                                            <li>&raquo; Off-campus room and Board :<asp:Label runat="server" ID="lblboardstudFee" Text=' <%#Eval("BoardFee") %>'></asp:Label></li>

                                        </ul>
                                        <div class="width100per"></div>
                                        <div class="clg_descripition" style="display: none">
                                            <p>
                                                <b>
                                                    <asp:Label ID="lblemail" runat="server" Text=""><%#Eval("description")%></asp:Label></b>
                                                <br />
                                                <b>
                                                    <asp:Label ID="lblapproved" runat="server" /></b>
                                            </p>
                                        </div>
                                        <ul class="small_university_box">
                                            <li>
                                                <div class="h2_heading">
                                                    <h2>Enrollment Numbers</h2>
                                                </div>
                                            </li>
                                            <li>&raquo;Number of Graduate students : <%#Eval("Graduates")==null ? "Not Available" : Eval("Graduates") %> </li>
                                            <li>&raquo;Number of Undergraduate Students : <%#Eval("UnderGraduates")==null ? "Not Available" : Eval("UnderGraduates") %> </li>
                                            <li>&raquo;Number of International students : <%#Eval("InternationalGraduate")==null ? "Not Available" : Eval("InternationalGraduate") %> </li>
                                        </ul>
                                        <div class="width100per"></div>
                                        <div class="moreinformation">
                                            <a id='<%#Eval("UniversityName")%>' class="anUniversityDetail button fright">More Information</a>
                                        </div>
                                    </div>
                                    <div class="clg_apply" style="display: none">
                                        <a id="lnkMessage" href="Openpopup('<%#Eval("UserName")%>')" class="button fright">Message</a>
                                        <asp:Button ID="btndecline" runat="server" Text="Decline" OnClick="btndecline_Click" CommandArgument='<%#Eval("UserName") %>' CssClass="button fright" Visible="false" />
                                        <asp:Button ID="btnapply" runat="server" Text="Apply" OnClick="btnapply_Click" CssClass="button fright" Visible="false" />
                                        <input type="button" onclick="javascript: Openpopup('<%#Eval("UniversityName")%>    ');" class="button" value="More Detail" />
                                    </div>
                                </li>
                            </ItemTemplate>
                        </asp:datalist>
                </ul>
                <div id="noUniversityMsg" class="left_right_space" style="display: none">
                    No More Universities
                </div>
                <div id="waitdiv" class="left_right_space" style="display: none">
                    please wait...
                </div>
            </div>
        </div>
    </div>
</div>

 @Html.Partial("~/Views/UserControl/_UniversityInfoPopup.cshtml")

  <div id="Dialog-ApplicationSend" title="Application Sent" style="display: none;">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>[<label id="lbluniname"></label>] admission's office has been notified that you are interested in learning more
about their institution. If your profile is a match, their representative will get in touch with you soon.
        </p>
    </div>
    <div id="Dialog-Send" title="Message Send" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Message Send Successfully</p>
    </div>
    <div id="Dialog-Alert" title="" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Please Enter Message Text</p>
    </div>

    <script type="text/ecmascript">
        $("#nav li").each(function () {
            $(this).removeClass('navi_active');
        });

        $("#University").addClass('navi_active');

        $(".anUniversityDetail").click(function(){
            Openpopup(this.id);
        });


        function Openpopup(universityName) {
            document.getElementById("MainContent_lblusername").innerHTML = universityName;
            var University = {
                UniversityName: universityName,
            };
            // $("#MainContent_lblusername").val(username);
            //  alert(username);
            $.ajax({
                type: "POST",
                beforeSend: function () { $("#LoadingImage").show(); },
                complete: function () { $("#LoadingImage").hide(); },
                url: "Collegelist.aspx/GetUnivercityData",
                data: JSON.stringify(University),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    var data = msg.d;
                    if (data == null) {
                        alert("Please input atleast one test scores in order to contact universities");
                    }
                    else {
                        document.getElementById("MainContent_lbladdress").innerHTML = data[0] + " " + data[1] + " " + data[2];
                        if (data[3] != null)
                            document.getElementById("MainContent_lblgradustudent").innerHTML = data[3];
                        else
                            document.getElementById("MainContent_lblgradustudent").innerHTML =  "Not Available";
                        if (data[4] != null)
                            document.getElementById("MainContent_lblundergradute").innerHTML = data[4];
                        else
                            document.getElementById("MainContent_lblundergradute").innerHTML =  "Not Available";
                        if (data[5] != null)
                        {
                            document.getElementById("MainContent_lblinternational").innerHTML = data[5]; MainContent_imgprofile;
                        }
                        else
                            document.getElementById("MainContent_lblinternational").innerHTML =  "Not Available";

                        if (data[6] == null)
                            document.getElementById("MainContent_imgprofile").src = "Images/no_image.jpg";
                        else
                            document.getElementById("MainContent_imgprofile").src = "Images/Profile/" + data[6];

                        document.getElementById("MainContent_lblDescription").innerHTML =  data[7];

                        if (data[8] != null)
                            document.getElementById("MainContent_lblundergradutefee").innerHTML =  data[8];
                        else
                            document.getElementById("MainContent_lblundergradutefee").innerHTML =  "Not Available";

                        if (data[9] != null)
                            document.getElementById("MainContent_lblgraduatefee").innerHTML =  data[9];
                        else
                            document.getElementById("MainContent_lblgraduatefee").innerHTML =  "Not Available";

                        if (data[10] != null)
                            document.getElementById("MainContent_lblbookfee").innerHTML =  data[10];
                        else
                            document.getElementById("MainContent_lblbookfee").innerHTML =  "Not Available";

                        if (data[11] != null)
                            document.getElementById("MainContent_lblroom").innerHTML =  data[11];
                        else
                            document.getElementById("MainContent_lblroom").innerHTML =  "Not Available";

                        if (data[12] != "" &&data[12] !=null )
                            document.getElementById("MainContent_lbldegreelvloffred").innerHTML =  data[12];
                        else
                            document.getElementById("MainContent_lbldegreelvloffred").innerHTML =  "Not Available";

                        if (data[13] != "" &&data[13] !=null )
                            document.getElementById("MainContent_lblcourceoffered").innerHTML =  data[13];
                        else
                            document.getElementById("MainContent_lblcourceoffered").innerHTML =  "Not Available";

                        if(data[14]=="hideStdInt")
                            $("#MainContent_divIntersted").hide();
                        else
                            $("#MainContent_divIntersted").show();
                        
                        $("#myModal").dialog({ modal: true, minWidth: 700, resizable: false, minHeight: 300, closeOnEscape: true, closeText: "" });
                    }
                },
                error: function(xhr, textStatus, errorThrown){
                    alert('request failed'  + JSON.stringify(xhr)+ " "+  JSON.stringify(textStatus)+ " "+JSON.stringify(errorThrown));
                }
            });
        }



        $("#MainContent_btnintrest").click(function () {
            var universityName = document.getElementById("MainContent_lblusername").innerHTML;
            var University = {
                UniversityName: universityName,
            };
            $("#lbluniname").html(universityName);
            $.ajax({
                type: "POST",
                beforeSend: function () { $("#LoadingImage").show(); },
                complete: function () { $("#LoadingImage").hide(); },
                url: "DashboardStudent.aspx/SaveStudentIntrest",
                data: JSON.stringify(University),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {

                    $("#Dialog-ApplicationSend").dialog({
                        open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                        resizable: false,
                        height: 270,
                        modal: true,
                        buttons: {
                            "OK": function () {
                                $(this).dialog("close");
                            }

                        },
                    });
                    $("#myModal").dialog('close');
                }

            });
        });
        $("#MainContent_btnnointrest").click(function () {
            $("#myModal").dialog('close');
        });
        //For Open Massegebox
        function OpenMsgPopup(sendToUserName) {
            var user = {
                ToUserName: sendToUserName,
            };
            $.ajax({
                type: "POST",
                beforeSend: function () { $("#LoadingImage").show(); },
                complete: function () { $("#LoadingImage").hide(); },
                url: "Collegelist.aspx/Getstatus",
                data: JSON.stringify(user),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    var data = msg.d;
                    if (data != "") {
                        window.location.href = "StudentMessage.aspx?id=" + data;
                    }
                    else {
                        $("#MainContent_txtSendToUserName").val(sendToUserName);
                        $("#messagebox").dialog({ modal: true, minWidth: 600, resizable: false, minHeight: 364, closeOnEscape: true, closeText: "" });
                    }
                }
            });

        }

        //For Send Message
        $("#MainContent_btnMsgSend").click(function () {
            if (Page_IsValid) {
                var Message = {
                    Title: $("#MainContent_txtSubject").val(),
                    Description: $("#MainContent_txtMessage").val(),
                    sendToUserName: $("#MainContent_txtSendToUserName").val(),
                    ParentId: "0",
                };
                if ($("#MainContent_txtSubject").val() != "" && $("#MainContent_txtMessage").val() != "") {
                    $.ajax({
                        type: "POST",
                        beforeSend: function () { $("#LoadingImage").show(); },
                        complete: function () { $("#LoadingImage").hide(); },
                        url: "Collegelist.aspx/SendMessage",
                        data: JSON.stringify(Message),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            $("#Dialog-Send").dialog({
                                open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                                resizable: false,
                                height: 140,
                                modal: true,
                                buttons: {
                                    "OK": function () {
                                        $(this).dialog("close");
                                    }

                                },
                            });
                            $("#MainContent_txtSubject").val("");
                            $("#MainContent_txtMessage").val("");
                            $("#messagebox").dialog("close");
                        }
                    });
                }
                else {
                    $("#Dialog-Alert").dialog({
                        open: function (event, ui) { $(".ui-dialog-titlebar-close .ui-button-text").hide(); },
                        resizable: false,
                        height: 140,
                        modal: true,
                        buttons: {
                            "OK": function () {
                                $(this).dialog("close");
                            }

                        },
                    });
                }
            }
        });

        // for Cancel Message
        $("#MainContent_btnMsgCancel").click(function () {
            $("#MainContent_txtSubject").val("");
            $("#MainContent_txtMessage").val("");
            $("#messagebox").dialog("close");
        });



        var flag=true;
        $(window).scroll(function(){
            if($(window).scrollTop() + $(window).height() == $(document).height()) {
                if(flag)
                {
                    $("#waitdiv").show();
                    flag=false
                    $.ajax({
                        type: "POST",
                        beforeSend: function(){ $("#waitdiv").show(); },
                        complete: function(){ $("#waitdiv").hide(); },
                        url: "Collegelist.aspx/AppendAndDisplayUniversity",
                        contentType: "application/json; charset=utf-8",
                        success: function(data)
                        {
                            if(data.d=="no")
                                $("#noUniversityMsg").show();
                            else{
                                $("#noUniversityMsg").hide();
                                flag=true;
                                $("#MainContent_ddlunivercitylist").append(data.d);
                            } 
                            $("#waitdiv").hide(); 
                        }
                    });
                }
                else
                {
                    
                }
            }
        });

    </script>
