@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="row">
    <div class="span12">
        <div class="simplepage_design">
            <div class="pattern_box box_space">
                <h1>Frequently Asked questions</h1>
                <h4>What is SpotCollege?</h4>
                <p>
                    SpotCollege is a free community driven web-platform who's sole aim is to provide great value to students applying to foreign universities ( i.e universities in Australia, Canada, UK, US etc). We present a platform where students can:
                </p>
                <ul>
                    <li><b>1.</b>Directly get in touch with the admissions office of foreign universities</li>
                    <li><b>2.</b>Find other students from their city applying to International universities</li>
                    <li><b>3.</b>Leave candid feedback of their experiences at a foreign university for prospective students</li>
                </ul>
                <br />
                <br />
                <h4>Why would I want to find other students from my city?</h4>
                <p>Knowing other students from your own city applying to the same university / city abroad can have great benefits. For e.g you can look for group discounts on flights or work together to arrange for temporary accommodation to whichever city you are flying to.</p>
                <br />
                <h4>What other information does SpotCollege provide ?</h4>
                <p>Ex-Students or Students currently studying at any international university can visit our portal and leave anonymous review on actual costs incurred by them while studying at the university. They can also comment on other issues such as housing, safety, on-campus job availability, Health Insurance, scholarship opportunities etc. These reviews are  available for everyone to read.</p>
                <br />
                <h4>I know few students who are currently studying abroad. How do I get them to leave a review of their university ?</h4>
                <p>Kindly encourage them to visit our website www.spotcollege.com to leave a review.</p>
                <br />
                <h4>Why am I not able to contact other students ?</h4>
                <p>Please ensure that your profile is complete and that you have entered details of all your previous schools and colleges. Also ensure that  you have entered your international test scores and your education preferences.</p>
                <br />
                <h4>Why am I not able to contact any universities ?</h4>
                <p>Please ensure that your profile is complete and that you have entered details of all your previous schools and colleges. Also ensure that  you have entered your international test scores and your education preferences.  The more details you enter, the easier it is for universities to decide on your eligibility.</p>
                <br />
                <h4>What happens when I “show interest” in a particular university ?</h4>
                <p>The moment you show interest in a particular university, we forward an email to that university with your profile details. If your profile matches the university's selection criteria they will get in touch with you.</p>
                <br />
                <h4>So, if a university does not respond to my “Interest”, does that mean they will not admit me ?</h4>
                <p>Absolutely Not. Universities get hundreds of interest each day. They may take anywhere between 1 day to 3 months or even longer to respond to your interest. </p>
                <br />
                <h4>Can other students view all my profile details?</h4>
                <p>No. Other students CANNOT view your address, email, previous educational information or your international test scores, work experience and extra curricular activities. All this information is kept private and is viewable only by universities.</p>

            </div>
        </div>
    </div>
</div>
